.Company{
    flex-basis: 23%;
    margin-right: 18px;
    height: 170px;
    margin-bottom: 15px;
    background: #F5F7F6;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(196, 196, 196, 0.25);
    border-radius: 16px;   
}

.Company.selected{
    background-color: #FFFFFF;
}

.Company span{
    display: block;
    margin-left: 24px;
}

.Company span:first-of-type{
    margin-top: 23px ;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
}
.Company span:last-of-type{   
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #2D2C30;
    line-height: 18px;
}
.Company button{
    margin-left: 24px;
    padding: 0;
    margin-top: 24px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    background-color: transparent;
    border: none;
    color: #1445F5;
}

@media (max-width: 950px) {
    .Company{
        flex-basis: 30%;
        margin-right: 15px;
    }
}
@media (max-width: 570px) {
    .Company{
        flex-basis: 45%;
        margin-right: 15px;
    }
}
@media (max-width: 400px) {
    .Company{
        flex-basis:100%;
        margin-right: 0;
    }
}